.top-collection .swiper{
  padding:100px 0;
}

.swiper .swiper-button-prev {
  transform: translate(1140px , -290px)!important;
  padding: 10px;
  transform: scale(0.9);
  color: white;
  border: 3px solid #E039FD;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(1px);
  background: rgba(0, 0, 0, 0.4) !important;
  transition: 250ms ease;
}

.swiper .swiper-button-prev:after {
  transform: scale(0.3);
}


.swiper .swiper-button-next {
  transform: translate(-0px , -290px)!important;
  padding: 10px;
  transform: scale(0.9);
  color: white;
  border: 3px solid #E039FD;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(1px);
  transition: 250ms ease;
}

.swiper .swiper-button-next:after {
  transform: scale(0.3);
}

.swiper .swiper-pagination {
  transform: translateY(10px);
}

.swiper .swiper-pagination .swiper-pagination-bullet{
  background-color:  #E039FD!important;
  transform: scale(130%);
}

@media screen and (max-width:600px){
  .swiper .swiper-button-prev {
    transform: translate(220px , -290px)!important;
    padding: 10px;
    transform: scale(0.9);
    color: white;
    border: 3px solid #E039FD;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(1px);
    background: rgba(0, 0, 0, 0.4) !important;
    transition: 250ms ease;
  } 
}

@media screen and (min-width:786px){
  .swiper .swiper-button-prev {
    transform: translate(610px , -290px)!important;
    padding: 10px;
    transform: scale(0.9);
    color: white;
    border: 3px solid #E039FD;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(1px);
    background: rgba(0, 0, 0, 0.4) !important;
    transition: 250ms ease;
  } 
}

@media screen and (min-width: 1280px){
  .swiper .swiper-button-prev {
    transform: translate(990px , -265px)!important;
    padding: 10px;
    transform: scale(0.9);
    color: white;
    border: 3px solid #E039FD;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(1px);
    background: rgba(0, 0, 0, 0.4) !important;
    transition: 250ms ease;
  }
  .swiper .swiper-button-next {
    transform: translate(-0px , -265px)!important;
    padding: 10px;
    transform: scale(0.9);
    color: white;
    border: 3px solid #E039FD;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(1px);
    transition: 250ms ease;
  }
}

@media screen and (min-width: 1536px){
  .swiper .swiper-button-prev {
    transform: translate(1140px , -290px)!important;
    padding: 10px;
    transform: scale(0.9);
    color: white;
    border: 3px solid #E039FD;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(1px);
    background: rgba(0, 0, 0, 0.4) !important;
    transition: 250ms ease;
  }
  .swiper .swiper-button-next {
    transform: translate(-0px , -290px)!important;
    padding: 10px;
    transform: scale(0.9);
    color: white;
    border: 3px solid #E039FD;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(1px);
    transition: 250ms ease;
  }
}