@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



/* width */
::-webkit-scrollbar {
  width: 8px;
  border-radius: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #1d1933;
  box-shadow: inset 0 0 5px #1d1933;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #9740f3;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #9740f3;
  transition: 150ms;
}


@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {

  .drop {
    @apply bg-primary  origin-top;
  }

  .hero-bg {
    background-image: url("https://themebeyond.com/html/nftmak/assets/img/banner/banner_bg.jpg");
    background-size: cover;
    background-position: top center;
  }

  .blog-bg {
    background-image: url("https://themebeyond.com/html/nftmak/assets/img/bg/breadcrumb_bg.png");
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
  }

  .active {
    @apply text-purple;
  }

  .icon-bg {
    @apply bg-gradient-to-r from-[#2a2846] to-[#23203d];
  }

  .button-grd {
    @apply bg-gradient-to-r from-[#e039fd] to-[#6345ed];
  }

  .bg-thumb-shadow{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  }
}
